<div class="container-fluid">
  <div class="row vh-100 w-100">
    <div
      class="col-md-6 bg-color container border-right d-flex align-items-center justify-content-center"
    >
      <button class="btn-lg rounded-pill btn-success col-4 border-0 shadow-lg">
        Try it
      </button>
    </div>

    <div
      class="col-md-6 bg-color2 container d-flex align-items-center justify-content-center"
    >
      <div class="row d-flex flex-column col-8">
        <h5 class="mb-4 text-center">Login With ID</h5>
        <loginform></loginform>
      </div>
    </div>
  </div>
</div>
